USE [master]
GO
/****** Object:  Database [AppDatabase]    Script Date: 30/07/2020 21:21:48 ******/
CREATE DATABASE [AppDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AppDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AppDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppDatabase]
GO
/****** Object:  Table [dbo].[data]    Script Date: 30/07/2020 21:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[camera] [nchar](10) NOT NULL,
	[created_dt] [smalldatetime] NOT NULL,
	[filename] [varchar](30) NOT NULL,
	[start] [nchar](10) NOT NULL,
	[stop] [nchar](10) NOT NULL,
	[description] [varchar](150) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
